
@{
    Layout = null;
}
@model HTSTicaret.Models.Urun
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTS TİCARET - @Model.Adi</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="/content/front/files/images/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/content/front/files/css/bootstrap.css" />
    <link rel="stylesheet" href="/content/front/files/css/style.css" />
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="header-middle-info">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="~/Home/index">
                            <img src="~/htsresim/MTM.png" alt="site logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="header-middle-account">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Security/Hesabim"><i class="icon-330" title="Hesabım"></i> Hesabım</a></li>
                            <li><a href="/Security/Logout"><i class="icon-351" title="Giriş"></i>Çıkış Yap</a></li>
                        }

                        <li><a href="/Security/Login"><i class="icon-330" title="Hesabım"></i> Griş Yap</a></li>

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="menu">
                <div class="search-cart">
                    <form class="search">
                        <input type="text" class="search-line" placeholder="Ara" name="serch" />
                        <input type="submit" value="" class="search-button" />
                    </form>
                    <div class="clear"></div>
                </div>
                <div class="repsonsive-menu"><i class="icon-406" title="406"></i> Menu</div>
                <ul>
                    <li>
                        <a href="/Home/Index">AnaSayfa</a>

                    </li>



                    <li class="menu-item-has-children">
                        <a href="#">Kategoriler</a>
                        <ul>
                            @foreach (var kategori in ViewBag.Kategoriler)
                            {
                                <li><a href="/Home/@kategori.Id">@kategori.Adi</a></li>
                            }
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Markalar</a>
                        <ul>
                            @foreach (var marka in ViewBag.Markalar)
                            {
                                <li><a href="/Home//MarkaUrunler/@marka.Id">@marka.Adi</a></li>
                            }
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Sayfalar</a>
                        <ul>

                            <li><a href="/Home/İletisim">İletişim</a></li>
                            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>

                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="our-team" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper" data-tesla-autoplay="false">
                <div class="slide">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="our-team-member">
                                <img src="@Model.Resim.OrtaYol" alt="our team meber" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-details">
                                <h3>@Model.Adi</h3>
                                <h4>@Model.Marka.Adi</h4>
                                <p>@Model.Kategori.Adi</p>
                                <p>@Model.Aciklama</p>
                                <div class="product-price">
                                    <a href="/Home/SepeteAt/@Model.Id" style="margin-right:10px;border:inset;padding:3px">
                                        <i class="icon-257" title="Sepete Ekle"></i>
                                    </a>

                                    @(string.Format("{0:N}", Model.SatisFiyati)) TL
                                </div>
                                @*@foreach (var urunOzellik in ViewBag.UrunOzellik)
                                {
                                    <p>@urunOzellik.OzellikTipID</p>
                                }*@
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-xs-6">
                        <ul class="socials">
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <ul>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <ul>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <ul class="menu-item">
                        </ul>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="mini-footer">
                    <div class="row">
                        <div class="col-md-6">
                            Copyright 2022 MTM &nbsp;  &nbsp;  &nbsp; Designed by <a href="#">HTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>